.heroSection {
  background-image: url("/add-event/hero-section-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.responsiveImage {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .responsiveImage {
    width: 33px;
    height: 33px;
  }
}

.buttonList {
  margin-top: 1.8rem;
}

.customize_btns:hover {
  background-color: transparent !important;
}
@media (max-width: 768px) {
  .btn_responsive {
    padding: 1rem 0.5rem;
    margin-left: 1rem;
    font-size: 45%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn_responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
}

/* Pagination */
/* add-event.module.css */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page_item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dee2e6;
  margin: 0 10px; /* Increase the margin to space the items apart */
  width: 40px;
  height: 40px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-size: 1rem;
  line-height: 1;
  padding: 0;
}

.circle {
  border-radius: 50%; /* Make the items circular */
}

.page_item:hover,
.page_item.active {
  background-color: #007bff !important;
  color: #fff !important;
  border-color: #007bff !important;
}

.page_item:focus {
  box-shadow: none !important;
  outline: none !important;
}

.text_size{
  font-size: 0.7rem;
}
.price_font_size{
  font-size: 1rem;
  font-weight: 500;
}