.body {
  background-color: rgba(246, 237, 228, 0.3);
}

.budgetRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.budgetTitle {
  flex-grow: 1;
}

.budgetButtons {
  display: flex;
  gap: 10px;
}

.fontCustom {
  font-family: "Montserrat";
  font-weight: 600;
}

.boardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .boardsContainer {
    gap: 20px; /* Increase the gap between boards */
  }
}

@media (min-width: 1024px) {
  .boardsContainer {
    gap: 20px; /* Further increase the gap for larger screens */
  }
}

.total {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
