.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Set icon color to black */
  margin-right: 10px; /* Space between icon and input field */
}

.inputField {
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3); /* Bottom shadow */
  font-weight: 600;
}

.inputField {
  font-family: 'Montserrat';
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3); /* Bottom shadow */
  font-weight: 600;
  position: relative; /* Make sure the input field has relative positioning */
  padding-left: 40px; /* Add space for the icon */
}

.inputField::before {
  content: '\f1d8'; /* Unicode for the icon */
  font-family: 'Bootstrap Icons'; /* Make sure this matches your icon library */
  color: black; /* Icon color */
  position: absolute;
  left: 10px; /* Adjust based on your padding */
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem; /* Adjust icon size if needed */
}

.customFont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: black;
}

.bottomShadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3); /* Bottom shadow */
}

.noBottomBorder {
  border: 0.3px solid black; /* Thin black border */
  border-bottom: none; /* No bottom border */
}
