.popup {
  width: 500px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none; /* Initially hidden */
  z-index: 1000;
}

.popup.show {
  display: block; /* Show the popup when 'show' class is added */
}

.coverImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0); /* Adjust color if needed */
}

.optionsBackground {
  width: 80%; /* Ensure it takes the full width of the parent */
  height: 80%;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 30px;
  box-sizing: border-box; /* Include padding in width and height calculation */
}

.optionsHeader {
  display: flex;
  justify-content: center;
}

.formGroup {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.formLabel {
  color: #7f7e83;
  margin-bottom: 5px;
}

.formControl,
.form-select,
.textarea {
  border: 1px solid #e8a696;
  border-radius: 4px;
  background-color: #f4f4f4;
}

.formActions {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: flex-end; /* Align items to the bottom */
}

.cancelButton,
.saveButton {
  margin: 0 5px;
  background-color: #f6ede4 !important;
  border-style: none !important;
  color: black !important;
  border-radius: 20px !important;
  min-width: 100px;
}

.fontCustom {
  font-family: "Montserrat";
  font-weight: 600;
}
