.customBrown {
  background-color: #f6ede4 !important;
  color: black !important;
}

.customPink {
  background-color: #eba0e3 !important;
  color: black !important;
}

.customGreen {
  background-color: #92d4c9 !important;
  color: black !important;
}

.customOrange {
  background-color: #e8a696 !important;
  color: black !important;
}

.customPurple {
  background-color: #c5b3e6 !important;
  color: black !important;
}

.customLightPurple {
  background-color: #c5b3e642 !important;
}

.customLightPink {
  background-color: #eba0e447 !important;
}

.customLightGreen {
  background-color: #92d4c938 !important;
}

.transparentClr{
  background-color: transparent !important;
}