.folder {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap!important;
  margin-left: 34px !important;
}
h1 {
  font-family: 'Sharp Sans';
  font-weight: 600;
  font-size: x-large;
  margin-left: 55px;
  margin-top: 30px;
}
.cardImg {
  height: 120px !important; /* Adjust the height as needed */
  width: 120px !important;
  margin-top: 20px !important;
}
.card-body {
  height: 5px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
}

.card-text {
  font-family: 'Sharp Sans';
  font-weight: 600;
  color: black;
  align-self: center; /* Center the card-text horizontally within the card-body */
}

.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) !important;
  background-color: #F6EDE4 !important;
  margin: 30px !important; /* Adjust margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px !important;
  border-style: none;
}
.card-add {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) !important;
  background-color: #F6EDE4 !;
  margin: 30px !important; /* Adjust margin */
  border-radius: 20px !important;
  border-style: none;
}
.three-dots-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically if needed */
  padding: 10px 5px;
  font-size: smaller;
  background-color: #F6EDE4;
  font-family: 'Sharp Sans';
  font-weight: 600;
  width: 12rem; /* Ensure it doesn’t exceed the card’s width */
  min-width: auto;
  margin: 0; /* Remove default margins */
  border-top: #A5A5A5 solid 2px !important;
}

.icon-img {
  width: 20px; /* Adjust size to match icon */
  height: 20px; /* Adjust size to match icon */
}

.grey-overlay {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(217, 217, 217, 0.5) !important; /* #D9D9D9 with 50% opacity */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
   border-radius: 20px;
}
.add-btn {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
}

