.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}

.search {
  height: 50px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgb(113, 110, 110);
  display: flex;
  align-items: center;
  width: 600px; /* Adjusted width of the search bar */
  border-radius: 10px;
}

.search-input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: calc(100% - 100px); /* Adjust width to accommodate search button */
  margin-top: 5px;
  line-height: 30px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search-button {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 10px; /* Rounded edges */
  background-color: #F6EDE4;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #E8A696;
}

.plus-icon {
  height: 50px; /* Increased height of the plus icon */
  width: 50px; /* Increased width of the plus icon */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px; /* Gap between search bar and plus icon */
}

.plus-icon i {
  font-size: 30px; /* Adjust size as needed */
  color: black; /* Optional: Adjust color */
}

a:link {
  text-decoration: none;
}
