/* sidebar.module.css */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  color: #000000; /* Light color for text */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  background: linear-gradient(
    135deg,
    rgba(232, 166, 150, 1),
    rgba(232, 166, 235, 1)
  );
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarContent {
  padding: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 80px;
}

.menu li {
  padding: 15px;
  border-bottom: 1px solid #34495e; /* Lighter gray for borders */
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: #34495e; /* Highlight background on hover */
}

.menu li a {
  text-decoration: none;
  color: #000000; /* Light color for links */
  display: block;
  font-size: 18px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeBtn:hover {
  color: #e74c3c; /* Red color on hover */
}
