.fontCustom {
  font-family: "Montserrat";
  font-weight: 600;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 15rem;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.topText {
  padding-top: 10px;
}

.priceText {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: small;
  color: gray;
}

.checkbox {
  -webkit-appearance: none; /* Remove default appearance */
  width: 1rem; /* Adjust width as needed */
  height: 1rem; /* Adjust height as needed */
  border: 2px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  margin-right: 0.3rem; /* Adjust spacing */
  position: relative; /* Ensure relative positioning */
}

.checkbox:checked {
  background-color: #fff; /* White background when checked */
  border-color: #888; /* Gray border when checked */
}

.checkbox:checked::after {
  content: ""; /* Empty content for pseudo-element */
  position: absolute; /* Position relative to checkbox */
  top: 40%; /* Center vertically */
 /* Center horizontally */
  transform: translate(-50%, -50%) rotate(45deg); /* Center and rotate the checkmark */
  width: 6px; /* Adjust size of the checkmark */
  height: 15px; /* Adjust size of the checkmark */
  border: solid #888; /* Gray border for checkmark */
  border-width: 0 3px 3px 0; /* Diagonal lines for checkmark */
}
