.fontCustom {
  font-family: "Montserrat";
  font-weight: 600;
}

.container {
  width: 15.5rem;
  border-radius: 20px;
  margin: 0 5px 20px 5px; /* Set default margins */
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 10px 20px 10px; /* Increase margins for larger screens */
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 15px 20px 15px; /* Further increase margins for even larger screens */
  }
}

.cardHeader {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5rem;
  padding: 10px 0;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 30rem;
  width: 20rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cardContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
